<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ifttw">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailRoutine"
            android:label="Detail Routine"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ifttw.DetailRoutine" />
        </activity>

        <activity android:name=".Dummy" />
        <activity
            android:name=".SensorActivity"
            android:label="Configure Trigger Sensor"
            android:parentActivityName=".TriggerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ifttw.SensorActivity" />
        </activity>

        <receiver
            android:name=".TimerReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".NotificationActivity" />
        <activity android:name=".ActionActivity" />
        <activity
            android:name=".date.TriggerDate3"
            android:label="@string/date1"
            android:parentActivityName=".date.DateTime">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ifttw.date.TriggerDate3" />
        </activity>
        <activity
            android:name=".date.TriggerDate2"
            android:label="@string/date1"
            android:parentActivityName=".date.DateTime">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ifttw.date.TriggerDate2" />
        </activity>
        <activity
            android:name=".date.TriggerDate1"
            android:label="@string/date1"
            android:parentActivityName=".date.DateTime">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ifttw.date.TriggerDate1" />
        </activity>
        <activity
            android:name=".date.DateTime"
            android:label="@string/date"
            android:parentActivityName=".TriggerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ifttw.date.DateTime" />
        </activity>
        <activity
            android:name=".TriggerActivity"
            android:label="@string/trigger"
            android:parentActivityName=".create_routine">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ifttw.TriggerActivity" />
        </activity>
        <activity
            android:name=".create_routine"
            android:label="@string/page_create_routine"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ifttw.create_routine" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".SensorService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>